<div class="d-flex vh-100">
  <div class="col-6"></div>
  <div class="col-6 default-flex">
    <div>
      LOGIN
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="login()" class="default-flex">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Insert your username" formControlName="login">
          <mat-icon matSuffix>people</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input id="password" matInput type="password" formControlName="password" placeholder="Insert your password">
          <mat-icon matSuffix (click)="revealPassword()">
            {{this.revealedPassword != null && !this.revealedPassword ? 'lock' : 'lock_open'}}
          </mat-icon>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Login</button>
      <div class="d-flex flex-column forgotPassword-Or-Register">
        <span>Forgot password ?
          <span class="font">click here</span>
        </span>
        <span>or</span>
        <span>Register
          <span class="font">new account</span>
        </span>
      </div>
      <div class="d-flex justify-content-center matspinner-div">
        <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
      </div>

    </form>
  </div>

</div>
