<div *ngIf="routeLogin; then appLoginComponent else everyComponent"></div>
<ng-template #appLoginComponent>
  <router-outlet></router-outlet>
</ng-template>
<ng-template #everyComponent>
  <mat-toolbar color="primary" *ngIf="!routeLogin">
    <mat-toolbar-row>
      <button mat-button (click)="opened = !opened">
        Toggle
      </button>
      <h4>Right Click</h4>
      <button mat-button>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      Start
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
